<h1>Lista de Estados</h1>
<%= link_to new_state_path, class: 'btn btn-primary' do %>
  <i class="fa fa-plus-circle"></i>
  NOVO ESTADO
<% end %> </br></br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>UF</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @states.order("UF").each do |state| %>
    <tr>
      <td><%= state.uf %></td>
      <td><%= state.name %></td>
      <td>
        <%= link_to state_path(state), class: 'btn btn-primary btn-sm' do %>
          <i class="fa fa-search"></i>
        <% end %>
        <%= link_to edit_state_path(state), class: 'btn btn-warning btn-sm' do %>
          <i class="fa fa-edit"></i>
        <% end %>
        <%= link_to state_path(state), method: :delete,  data: { confirm: "#{current_user.email} tem certeza que deseja excluir?" }, class: 'btn btn-danger btn-sm' do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>