<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label 'E-mail', for: 'user_email' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <strong>Lembre-se no mínimo seis dígitos</strong>
  <div class="form-group">
    <%= f.label 'Nova senha', for: 'user_password' %> <i>(caso não altere nada, deixe em branco)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label 'Confirmar senha', for: 'user_password_confirmation' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>
  <strong>Autorize as alterações</strong>
  <div class="form-group">
    <%= f.label :current_password %> <i>(informe a senha atual)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.button root_path, class: 'btn btn-warning' do %>
      <i class="fa fa-edit"></i>
      ATUALIZAR
    <% end %>
  </div>
<% end %>
<hr>
<h4 class="text-danger">Quero inativar minha conta</h4>

<p><%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "#{current_user.email} tem certeza?" }, method: :delete, class: 'btn btn-danger' %></p>